@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>   
    <title>Books</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <form action="~/Add_Book/Insert_Book">
                    <button type="submit">add book</button>
                </form>
            </td>
            <td>
                <form action="~/Get_Books/Get_Books">
                    <button type="submit">show book list</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>


